//Global Colours
$primary-color: #48cae4;
$secondary-color: #9beeff;
$text-color: #000;
$text-white: #ffffff;

.btn-primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    padding: 15px 20px;
    font-size: 1em;
    font-weight: 500;

    margin-bottom: 40px;
    margin-top: 30px;
}

.section-2 {
    .card {
        border-radius: 0px;
        margin-bottom: 30px;
        height: 580px;
        img {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            height: 370px;
        }
        .card-body {
            a.title {
                font-size: 1.4 em;
            }
            min-height: 200px;
        }
        .event-title {
            white-space: nowrap; /* Ensures text stays in one line */
            overflow: hidden; /* Hides overflowing text */
            text-overflow: ellipsis; /* Adds ellipsis when text overflows */
            font-size: 1.2em; /* Adjust base font size */
            font-weight: bold;
            line-height: 1.4; /* Helps maintain readability */
            max-width: 100%; /* Ensures it uses all available space */
        }

        .event-date-time {
            color: #0087a3;
            font-weight: 800;
            font-size: 1.3em;
        }

        .event-location {
            color: #0087a3;
            font-weight: 800;
            font-size: 1.3em;
            white-space: nowrap;
            overflow: hidden;
            line-height: 1.4;
            max-width: 100%;
        }

        .event-price {
            color: $primary-color;
            font-weight: 700;
        }

        .btn {
            width: 50%; // makes both buttons stretch full width
            padding: 12px 0; // consistent vertical padding
            font-size: 1em; // consistent font size
            text-align: center;
        }
    }
}

.section-5 {
    background: transparent;
}

.Reviews {
    color: #000;
    font-size: 2.3rem;
    font-weight: 500;
    text-decoration: none;
}

.Review:hover {
    text-decoration: underline;
}

.section-5 {
    background: transparent;
}

.Reviews {
    color: #000;
    font-size: 2.3rem;
    font-weight: 500;
    text-decoration: none;
}

.Review:hover {
    text-decoration: underline;
}
/*footer {
    position: absolute;
    bottom: 100;
    width: 100%;
  }*/
