//Global Colours
$primary-color: #48CAE4;
$secondary-color: #9BEEFF;
$text-color: #000;
$dark-background: #000;



.CustomButton1 {
    background-color: rgb(71, 69, 69);
    color: white;
    text-decoration: none;
    }
    
    .CustomButton1:hover {
    background-color: darkgray;
    }