//Global Colours
$primary-color: #48CAE4;
$secondary-color: #9BEEFF;
$text-color: #000;
$text-white: #FFFFFF;

.btn-primary {
    background-color: black;
    border: 1px solid black;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 30px;
    border-radius: 20px;
}


.section-2 {
    .card {
        border-radius: 0px;
        height: 350px;
        display: flex;
        align-items: center;
        text-align: center;


        .card-body {
            a.title {
                font-size: 1.4 em;

            }
        }

    }
}


// .section-5 {
//     background: gray;
//     height: 500px;
// }

.section-5 {
    background-color: #444; /* Dark background */
    padding: 30px;
    border-radius: 10px;
}

h1, h4 {
    color: #ffffff;
    font-weight: bold;
}

.chart-container {
    background-color: #555;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margin */
  }

  body {
    background-color: #dbe8eb; 
    display: flex;
  flex-direction: column; /* Stack the elements vertically */
  min-height: 100vh;
  }

  .content {
    flex: 1; /* Allow the content to grow and take up remaining space */
  }
  
  footer {
    position: absolute;
    bottom: 100;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
  
    .row {
      padding: 10px;
    }
  
    .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }  

  .text-responsive {
    font-size: 5vw; /* 5% of viewport width */
  }
  