/* used className of BrowseEvent.scss*/
.card {
    height: 100%; /* maximum height */
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

.event-footer {
    margin-top: auto;
}
/*footer {
    position: absolute;
    bottom: 100;
    width: 100%;
  }*/

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative; /* Fix entire page in place */
    width: 100%;
    top: 0;
    left: 0;
}

.image {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 370px;
}
/*footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  color: white;
  text-align: center;
  padding: 10px 0;
}*/
