//Global Colours
$primary-color: #48CAE4;
$secondary-color: #9BEEFF;
$text-color: #000;
$dark-background: #000;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Rubik", sans-serif;
}
 
/*Header*/
 header{
    nav{
        .nav-link{
            font-size: 1em;
            color: #FFFFFF;
            font-weight: 450;
            margin-left: 30px;
            span{
                color: $primary-color;
            }
        }

        .logo{
           font-size: 2em; 
           font-weight: 500;
           margin-left: 20px;
        }
    }
 }

 .logo-img {
    width: 120px; 
    height: auto; 
  }

  
 /*Main Footer*/
 footer{
    margin-top:60px;
    
    h5{
        font-size: 1rem;
        font-weight: 600;
    }
    .list-inline-item a {
        color: #ccc;
        text-decoration: none;
      }
      .list-inline-item a:hover {
        color: #fff;
        text-decoration: underline;
      }
      .col-auto {
        margin: 0 90px; 
        padding: 0 190px;
      }
 }

 /*Sub Footer*/
 .sub-footer {
  background-color: #000;
  color: #fff;

  .stay-updated {
    h1 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
    .social-icons {
      .social-icon {
        width: 60px; 
        height: 60px;
      }
    }
    .element{
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-links {
    .footer-link {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    h5 {
      font-weight: 500;
      margin-bottom: 10px;
    }

    .list-inline-item {
      margin: 0 15px; 
    }
  }

  // Extra spacing adjustments for smaller screens
  @media (max-width: 768px) {
    .footer-links {
      .list-inline-item {
        margin: 0 10px;
      }
    }
    .stay-updated {
      h1 {
        font-size: 1.5em;
      }
    }
  }
}


 /*Search Bar*/
 /*SearchBar.jsx*/
 .search-bar {
    .input-group {
      .form-control {
        border-radius: 0;
        height: 2.5rem;
      }
      .dropdown-toggle {
        border-radius: 0;
        background-color: $primary-color; 
        color: #000;

      &:hover,
      &:focus,
      &:active {
        background-color: #000; 
        color: #fff;
      }
      }
    }
  }